html{
  font-family: 'メイリオ';
  color:#707070;
}


header{
  display:inline-block;
  width:100%;
  height:56vw;
  position:relative;
  background: url("../dotinstall_img/header_bg.png");
  background-size:  cover;
}

.header_bg{
  width: 100%;
  z-index: -50;
}

.logo{
  position:absolute;
  top:0;
  left:0;
  width:15.6vw;
  margin:2.6vw 0 0 2.6vw;
}

.wht_opacity{
  opacity:.8;
  color:#fff;
}

.subtitle{
  position:absolute;
  top:10vw;
  left:0;
  margin:4.2vw 0 0 2.6vw;
}

.subtitle1{
  font-size:3.1vw;
}

.subtitle2{
  margin-top:.8vw;
  font-size:1vw;
}

.nav-container{
  position:absolute;
  bottom:0;
  width:100%;
}

.nav{
  display:flex;
  justify-content: space-around;
  margin-bottom:2vw;
}

.nav > a{
  display:block;
  text-align: center;
  width:15vw;
  background:#efe5cd;
  color:white;
  font-size:2vw;
  padding:1vw 2vw;
  transition: .4s;
}

.nav > a:hover{
  background:#bfc9bd;
  border-radius: 50px;
}




/* Conceptのcss */
#concept{
  margin:5vw auto;
  width:90%;
  display:flex;
}

.concept-left{
  width:50%;
  display:flex;
  justify-content: center;
}

.concept-left > span {
  display:inline-block;
  width:2vw;
  height:10vw;
  line-height: 2vw;
  writing-mode: vertical-rl;
  background: #c1d1e0;
  color:#FFF;
  font-size:1vw;
  padding-top:1vw;
}

.concept-left > h1 {
  font-size:2vw;
  font-family:"游明朝";
  writing-mode:vertical-rl;
  margin-right:1vw;
  line-height: 2.8vw;
}

.concept-right{
  width:50%;
  font-size:.8vw;
  line-height: 1.5vw;
}

.flow-hidden{
  overflow-x: hidden;
}

.flow-hidden > img{
  display:block;
  margin:0 5vw 0 auto;
  width:15vw;
}

.supports-wrap{
  width:100%;
  background:#c1d1e0;
  color:#fff;
  position:relative;
  left:-5vw;
  padding:5vw 0 2vw 0;
}

.supports-wrap > p{
  position:relative;
  font-size:1.5vw;
  top:-2.5vw;
  text-align:right;
  margin-right:1vw;
}


.supports{
  display:flex;
  position:relative;
  left:5vw;
}
.support{
  flex:1;
}

.support > h2 {
  margin:10vw auto 0 5vw;
  font-size:2.2vw;
}

.support > span{
  font-size:.8vw;
  margin-left:5vw;
}

.support > p{
  font-size:1.2vw;
  margin:25vw 5vw 8vw 5vw;
}

.support:first-child{
  background: url(../dotinstall_img/community.png);
  background-size:100%;
}

.support:nth-child(2){
  background: url(../dotinstall_img/work.png);
  background-size:100%;
}

.support:nth-child(3){
  background: url(../dotinstall_img/house.png);
  background-size:100%;
}






/* Schoolのcss */
#school{
  padding-top:20vw;
  overflow-x: hidden;
}

#school > h1{
  position:relative;
  top:-5vw;
  text-align:center;
  font-size:3vw;
}

#school > span{
  position:relative;
  top:-5vw;
  display:block;
  margin:0 auto;
  height:2vw;
  width:10vw;
  font-size:1.2vw;
  line-height:2vw;
  color:#fff;
  text-align:center;
  background: #bfc9bd;
}

.school-wrap{
  position:relative;
  left:5vw;
  background:#bfc9bd;
  padding:5vw 0 2vw 0;
}


.school-wrap > p{
  color:#fff;
  position:relative;
  font-size:1.5vw;
  top:-2.5vw;
  text-align:right;
  margin-right:6vw;
}

.school-wrap > img{
  position:relative;
  left:-5vw;
  width:100%;
}



/* Accessのcss */
#access{
  margin-top:10vw;
  background:#efe5cb;
  padding:10vw 0 0 0;
}

.access-wrap{
  background:#fff;
  width:90%;
  margin:0 auto;

}

.access-wrap > h1{
  text-align:center;
  font-size:3vw;
  position:relative;
  top:-2vw;
}

.access-wrap > span{
  position:relative;
  top:-2vw;
  display:block;
  margin:0 auto;
  height:2vw;
  width:10vw;
  font-size:1.2vw;
  line-height:2vw;
  color:#fff;
  text-align:center;
  background: #c1d1e0;
}

.access-flex{
  display:flex;
}

.access-left{
  padding:5% 2.5% 5% 5%;
}

.access-right{
  padding:5% 5% 5% 2.5%;
}

.access-left > img{
  max-width:100%;
}

dl{
  font-size:1.8vw;
}

dt{
  margin-top:2vw;
}

dt:first{
  margin-top:0;
}

dd{
  margin-left:1.8vw;
}





/* footerのcss */
footer{
  background:#c1d1e0;
  height:5vw;
}

footer > p{
  text-align:center;
  color:#fff;
  font-size:1vw;
  line-height:5vw;
}

